@import url(./reset.css);

:root {
  /* color */
  --main-color: #f6951f;
  --point-color: #6407f5;
  --white: #ffffff;
  --dark-white: #f5f5f5;
  --gray: #808080;
  --light-gray: #d3d3d3;
  --dark-gray: #a9a9a9;
  --black: #000000;

  /* border radius */
  --legular-radius: 4px;
  --large-radius: 8px;
}

a,
h1,
h2,
p,
li {
  font-family: 'NanumSquare', sans-serif !important;
}

html {
	font-size: 10px;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

/* header */

.header {
	display: flex;
	padding: 24px 48px;
	align-items: center;
	background-color: var(--white);
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.05);
}

.logo {
	width: 230px;
}

.logo img {
	width: 100%;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: 24px;
	font-size: 1.4rem;
}

.nav__menu {
	display: flex;
	align-items: center;
}

.nav__menu-item {
	margin: 0 16px;
	cursor: pointer;
	font-weight: 500;
}

.nav__menu-item:hover {
	color: var(--main-color);
}

.donate__btn {
	padding: 8px 16px;
	background-color: var(--main-color);
	color: var(--white);
	border-radius: var(--legular-radius);
	border: 1px solid var(--main-color);
	transition: color 100ms ease-in;
}

.donate__btn:hover {
	color: var(--main-color);
	background-color: var(--white);
}

/* main banner */
.main__banner {
	width: 100%;
	height: 600px;
	background-image: url(../imgs/main__image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main__banner-title {
	font-weight: 900;
	font-size: 5rem;
	position: relative;
	top: 160px;
	left: 48px;
	line-height: 6rem;
}

.main__banner-text {
	position: relative;
	top: 200px;
	left: 48px;
	font-size: 1.4rem;
	line-height: 3rem;
}

.app-icon {
	position: relative;
	top: 230px;
	left: 48px;
}

.icon-img {
	width: 50px;
	border-radius: 50%;
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.05);
	margin-right: 12px;
}