@import url(./reset.css);

:root {
  /* color */
  --main-color: #f6951f;
  --light-color: #f5c52c;
  --point-color: #f54e14;
  --white: #ffffff;
  --dark-white: #f5f5f5;
  --gray: #808080;
  --light-gray: #d3d3d3;
  --dark-gray: #555555;
  --black: #000000;

  /* border radius */
  --legular-radius: 4px;
  --large-radius: 8px;
}

a,
h1,
h2,
p,
li {
  font-family: 'NanumSquare', sans-serif !important;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

/* header */

.header {
  display: flex;
  padding: 24px 48px;
  align-items: center;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 230px;
}

.logo img {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  font-size: 1.4rem;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu-item {
  margin: 0 16px;
  cursor: pointer;
  font-weight: 500;
}

.nav__menu-item:hover {
  color: var(--main-color);
}

.donate__btn {
  padding: 8px 16px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: var(--legular-radius);
  border: 1px solid var(--main-color);
  transition: color 100ms ease-in;
}

.donate__btn:hover {
  color: var(--main-color);
  background-color: var(--white);
}

/* main banner */
.main__banner {
  width: 100%;
  height: 600px;
  background-image: url(../imgs/main__image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.main__banner-title,
.main__banner-text,
.app-icon {
  width: 50%;
}

.main__banner-title {
  font-weight: 900;
  font-size: 5rem;
  position: relative;
  top: 160px;
  left: 48px;
  line-height: 6rem;
}

.main__banner-text {
  position: relative;
  top: 200px;
  left: 48px;
  font-size: 1.4rem;
  line-height: 3rem;
}

.app-icon {
  position: relative;
  top: 230px;
  left: 48px;
}

.icon-img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  margin-right: 12px;
}

/* campaign */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 80px 0;
  max-width: 1296px;
}

.section__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.section__title-sub {
  padding: 24px 0;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.5rem;
  color: var(--dark-gray);
}

.campaign__items {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.campaign__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  padding: 48px 0;
  border-radius: var(--large-radius);
}

.item__icon {
  display: inline-block;
  width: 90px;
  height: 90px;
  font-size: 45px;
  line-height: 90px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(246, 149, 31, 1) 0%,
    rgba(255, 202, 242, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 24px 0 12px 0;
}

.item__text-content {
  width: 80%;
  line-height: 2rem;
  font-size: 1.2rem;
  color: var(--dark-gray);
}

.dots {
  width: 100%;
  margin: 24px 0;
}

.campaign__more-btn {
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: var(--legular-radius);
  background-color: var(--white);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transition: color 200ms ease;
}

.campaign__more-btn:hover {
  background: linear-gradient(
    135deg,
    rgba(246, 149, 31, 1) 0%,
    rgba(255, 202, 242, 1) 100%
  );
  color: var(--white);
  border: 1px solid var(--white);
  font-weight: 600;
}

.c__item02 {
  position: relative;
  top: 24px;
}

.c__item03 {
  position: relative;
  top: 48px;
}

/* main-conents */
.main__conents {
  flex-direction: row;
  justify-content: center;
}

.main-con__left,
.main-con__right {
  display: flex;
  flex-direction: column;
  margin: 0 2px;
}

.list__img {
	border-radius: var(--large-radius);
	width: 100%;
	height: 100%;
	margin-bottom: -2px;
}

.second-row {
  margin-top: 4px;
	display: flex;
	justify-content: space-between;
}

.main-con__item {
	position: relative;

}
.contents__caption, .main-hover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-hover {
	background: linear-gradient(
    135deg,
    rgba(246, 149, 31, 0.7) 0%,
    rgba(255, 202, 242, 0.7) 100%
  );
	opacity: 0;
	border-radius: var(--large-radius);
	transition: all 200ms ease-in;
}

.main-con__item:hover .main-hover {
	opacity: 1;
}


.caption__title {
	font-size: 2.4rem;
	color: var(--white);
	margin-bottom: 36px;
}

.main__con-btn {
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
	padding: 8px 16px;
}

.second-row .caption__title {
	font-size: 2rem;
	margin-bottom: 18px;
}

.second-row .main__con-btn {
	font-size: 0.9rem;
}
